<div>-----------------------------------------------</div>
<p>I am the content of the 'my-comp' component</p>

<p>
  {{#if barHasBeenCalled}}
    Oh, looks like my 'bar' method has been called!
  {{else}}
    At the moment, my 'bar' method has not been called.
  {{/if}}
</p>

<div>-----------------------------------------------</div>
